{
	"address":"localhost:11300",
	"key":"qwerty",
	"mailbox":"qwerty",
	"fromaddress":"address@example.com",
	"fromname":"the name",
	"subject":"the subject",
	"body":"the\nbody",
	"database":"qwerty",
	"username":"qwerty",
	"password":"qwerty"
}

